@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme css variables */
html[data-theme="dark"] {
    --bg-base: #1f2937;
}

html[data-theme="light"] {
    --bg-base: #f9fafb;
}

html[data-theme="default"] {
    --bg-base: #3b82f6;
}

html[data-theme="cupcake"] {
    --bg-base: #65C3C8;
}

html[data-theme="lemonade"] {
    --bg-base: #f7b731;
}

html[data-theme="forest"] {
    --bg-base: #1EB854;
}

body{
    background-color: var(--bg-base);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: fit-content;
}

/* Custom scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}