@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme css variables */
html[data-theme="dark"] {
    --bg-base: #1f2937;
    --bg-image: url("./assets/dark.jpg");
}

html[data-theme="light"] {
    --bg-base: #f9fafb;
    --bg-image: url("./assets/light.jpg");
}

html[data-theme="default"] {
    --bg-base: #3b82f6;
    --bg-image: url("./assets/lavender.jpg");
}

html[data-theme="cupcake"] {
    --bg-base: #65C3C8;
    --bg-image: url("./assets/cupcakes.jpg");
}

html[data-theme="lemonade"] {
    --bg-base: #f7b731;
    --bg-image: url("./assets/lemons.jpg");
}

html[data-theme="forest"] {
    --bg-base: #1EB854;
    --bg-image: url("./assets/clover-leaves.jpg");
}

body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    var(--bg-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: fit-content;
}

/* Custom scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}