@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./assets/sprinkle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: fit-content;
}

/* Custom scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}